/* .scaner{
    position: relative;
    left: 83vh;
} */
/* .f{
    display: flex;
    align-items: center;
    justify-content: center;
}
.scan{
    display: block;
    height: 50vh;
    width: 20%;
}
.scaner{
    padding: 5px;
    margin-left: 7vh;
    height: 25vh;
    border-radius: 1.5rem;
    margin-top: 14vh;
}
.pa{
    position: relative;
    top: 9vh;
} */